body {
    width: 500px;
    margin: 0 auto;
}

form li {
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

ul {
    padding: 0;
}

label {
    display: block;
}

label:after {
    content: ":"
}

input {
    width: 300px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

li div {
    margin: 0.5em 0;
}
