html, body {
    margin: 0;
    padding 0;
}

body, input {
    font-family: monospace;
    font-size: 12pt;
}

h1, label {
    display: none;
}

li {
    list-style: none;
}

input {
    border: none;
}

input#date {
    position: absolute;
    top: 1.0in;
    left: 7.8in;
    width: 1in;
}

input#amount {
    position: absolute;
    top: 1.5in;
    left: 8in;
    width: 1in
}

input#to {
    width: 60%;
    position: absolute;
    top: 1.5in;
    left: 1.3in;
}

input#amount-word {
    width: 100%;
    position: absolute;
    top: 1.9in;
    left: 0.6in;
}

input#memo {
    width: 40%;
    position: absolute;
    top: 3.0in;
    left: 0.8in;
}
