<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" media="screen" />
    <link rel="stylesheet" href="/css/print.css" media="print" />
  </head>
  <body ng-app="checkwriter" ng-cloak>
    <h1>Check Writer</h1>

    <form action="#">
      <ul>
        <li>
          <label for="to">To</label>
          <input id="to" type="text" name="to" value="Uncle Sam"/>
        </li>
        <li>
          <label for="tax">Tax</label>
          <input id="tax" type="text" name="tax" ng-model="tax"/>
          <numeralizer amount="tax">
          </numeralizer>
        </li>
      </ul>
    </form>

    <script type="text/javascript" src="/dist/app/main.js"></script>
  </body>
</html>
